#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 10px 20px;
  background-color: rgb(255, 160, 125);
  margin: 10px;
  border-radius: 10px;
}

.title{
  font-size: 20px;
  color: black;
  font-weight: 800;
}

.category{
  font-size: 18px;
}

.price{
  font-size: 20px;
}